node-red-dashboard.json
[{"id":"2ddc02d6.205e0e","type":"tab","label":"Vibration","disabled":false,"info":""},{"id":"94a55fe3.be1b6","type":"ui_chart","z":"2ddc02d6.205e0e","name":"","group":"57ff470b.93fdf8","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"3","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":310,"y":60,"wires":[[]]},{"id":"d3cbfcd5.922ef","type":"mqtt in","z":"2ddc02d6.205e0e","name":"Vibration","topic":"node/vibration-monitor:0/magnitude","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":90,"y":60,"wires":[["94a55fe3.be1b6","efcacf51.58d4f","b09ee919.8eea58"]]},{"id":"efcacf51.58d4f","type":"ui_gauge","z":"2ddc02d6.205e0e","name":"","group":"57ff470b.93fdf8","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"2","colors":["#ca3838","#00e66d","#ca3838"],"seg1":"0.9","seg2":"1.1","x":310,"y":100,"wires":[]},{"id":"b09ee919.8eea58","type":"switch","z":"2ddc02d6.205e0e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"1.1","vt":"num"},{"t":"lt","v":"0.9","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":140,"wires":[["42396c3b.989274","579271e3.0ebef"],["42396c3b.989274","579271e3.0ebef"]]},{"id":"42396c3b.989274","type":"debug","z":"2ddc02d6.205e0e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":140,"wires":[]},{"id":"5e0ca22.e37825c","type":"ifttt out","z":"2ddc02d6.205e0e","eventName":"","key":"","x":700,"y":220,"wires":[]},{"id":"579271e3.0ebef","type":"delay","z":"2ddc02d6.205e0e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"20","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":520,"y":220,"wires":[["5e0ca22.e37825c"]]},{"id":"57ff470b.93fdf8","type":"ui_group","z":"","name":"Default","tab":"11207769.c31889","disp":true,"width":"6","collapse":false},{"id":"29fba84a.b2af58","type":"mqtt-broker","z":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b43e85cc.68a2d8","type":"ifttt-key","z":""},{"id":"11207769.c31889","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]